.header{
    display :flex;
    justify-content:space-between;
    padding:10px;
    border: 2px solid green
}

.logo-container{
    width:200px;
}

.res-card{
  width:200px;
  padding:5px;
  border: 1px solid brown;
}

.res-card:hover{
  background-color:red;
  background-color: lightblue;
  border: 5px solid brown;
  cursor:pointer;
}

.logo {
  width:100px;
  height:100px;
  padding:10px;
}

.nav-items {
    display:flex;
}

.nav-items > ul {
  display:flex;
  list-style-type: none;
  align-items:end;
}

.nav-items > ul li {
  padding:10px;
}

.app{
  padding:5px;
}

.search{
  padding:10px;
}

.res-card-img{
  width:100%
}

.res-container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}